{% extends "project/_projectlayout.html" %}

{% block projectcontent %}

<p>Astronomical Image Reducer <span class="secret" title="Weak ACRONYM (Absurd abbreviation of a Concept Relating to astrONomY to aide in Memorability), I know... I'll do better in the future">(AIR)</span> is a simple GUI and CLI program to reduce FITS light and calibration images to science images.
It's mainly meant for reducing images from my own telescope, because I'd better be able to do my own photometry right about now.</p>
<p>More details will follow later.</p>

{% endblock %}