<!doctype html>
<html>
    <head>
        <title>Under construction</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="icon" type="image/png", href="{{url_for('static', filename='images/favicon.png')}}">
    </head>
    <body>
        <center>
            <p class="title">Under construction</p>
            <p>This site is currently under construction and will eventually start featuring a couple of astronomical projects.</p>
            <p>Please check back later in December or early January.</p>
            <p>For now, some projects can also be found on <a href="https://github.com/brentmaas">GitHub</a>.</p>
        </center>
    </body>
</html>