{% set title = "Projects" %}

{% extends "_layout.html" %}

{% block content %}

<center>
    <h1 class="title">Projects</h1>
</center>

<div class="projects">
    {% for project in projects %}
        <a href="/project/{{project}}">
            <div class="project">
                <center>
                    <p class="subtitle">{{projects[project]["name"]}}</p>
                    {% set img = url_for("static", filename="images/project/"+project+"/thumb.png") %}
                    {% if not os.path.exists("./" + img) %}
                        {% set img = url_for("static", filename="images/project/default/thumb.png") %}
                    {% endif %}
                    <img src="{{img}}" class="project-thumb">
                </center>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}